.pulse-timer {
    animation: pulse 1.2s infinite;
    font-weight: bold;
    font-size: 1rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}