.categories-form label {
  font-size: 14px;
}

.add-title {
  font-size: 22px;
  color: black;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 14px;
}

.parent {
  margin-bottom: 4rem;
}

.child-overlap {
  width: 95%;
  box-shadow: 0 0 5px #cde6f3;
  margin: auto;
  background-color: #fff;
}

.form-add {
  background: #ffffff;
  max-width: 93%;
  padding-top: 40px;
  padding-left: 35px;
}

input[type="text"],
input[type="url"] {
  width: 100%;
  padding: 9px;
  margin-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e3e3e3;
  color: #2c2c2c;
  outline: none;
  font-size: 0.8571em;
}

.add-btn {
  width: 105px;
  background-color: #a85a32;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  border: none;
  margin-bottom: 2rem;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
