/* Register page specific styles */
.register-page {
  padding: var(--spacing-unit) * 2;
}

.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: var(--spacing-unit);
}

.logo-container h3 {
  color: var(--secondary-color);
  margin-bottom: var(--spacing-unit);
}

.register-page .form-wrapper {
  margin:2rem auto;
}
.row-name {
    display: flex;

    column-gap: 20px;
}

.register-page label {
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 0.5em;
}

.row > .col-md-6 {
  padding: calc(var(--spacing-unit) / 2);
}

.register-actions {
  margin-top: var(--spacing-unit);
}

.btn-outline-light {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: #fff;
}

.btn-outline-light:hover {
  background-color: #e59400;
  border-color: #e59400;
}

img.img-fluid {
  object-fit: cover;
}

@media (max-width: 768px) {
  .col-md-6.bg-black {
    padding: var(--spacing-unit);
  }

  .register-form {
    width: 30vw;
    padding: 1rem;
  }

  .register-page .form-wrapper {
    max-width: 70%;
  }

  .row > .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}